@import '~bootstrap/scss/bootstrap';

.game-space {
    padding: 0;
    color: white;
    background-color: #373737;

    &:hover {
        background-color: rgb(172, 172, 172);
        cursor: pointer;
    }
}

.dummy-game {
    padding: 0;
    color: white;
    background-color: #373737;

    &:hover {
    background-color: #373737;
    cursor: default;
    }
}

.carousel-inner {
    height: 700px;
}

.carousel-control-prev,
.carousel-control-next {
    color: #373737;
}

.game-space-display {
    display: flex;
    height: 100%;
    padding: 0 0 50px 0;
    margin: 0;
    line-height: 0;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 150px;
}

#new-game, #display {
    font-size: 2.5vw;
}